.App {
  text-align: center;
}

.trackField {
  position: absolute;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-evenly;
}

.field {
  z-index: 0;
  height: 100vh;
  width: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}   

#data-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 90vh;
}

#user-bar {
  width: 100vw;
  height: 10vh;
}
